#container {
width:600px;
    height:auto;
    margin: 0 auto;

}
#Header {
width:600px;
height:150px;
background-color: black;
padding-left: 10px;
    margin-bottom: 10px;
    
    
}
#Header h1{
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    color:yellow;
    float: left;
    font-weight: 100;
    margin-top: 90px;
    
    
   
}

#Header p {
color: white;
    font-family: cursive;
    float: right;
    font-size:14px;
    margin-top: 90px;
    margin-right: 10px;
    
    

}
#MainBody {
    width:600px;
    height:auto;
}
table {
    border-collapse: separate;
    border-spacing: 20px 0px;
}


#comp  {

    position: absolute;
    top:180px;
    z-index: -1;
}

.row1 p {
    top: 0; 
    right:1em; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.row2 h4 {
font-family: Arial, Helvetica, sans-serif;
}
.row2 p {
    font-family: Arial;
    color: darkgray;
    
}
.button {
    border: 0 none;
    border-radius: 20px;
    padding: 12px 10px;
    margin:5px;
    width:5em;
    height: 1em;
    display: flex;
    cursor:pointer;
    justify-content:center;
    align-items:center;
    flex: 0 0 10px;
    text-align: center;
    line-height: 1.0;
    color:snow;
    font-size: 18px;
    font-weight: 500;
    transition: all 40ems ease-in-out;
    background: black;
}
.row3 {
  
    display: table;
    
}
.row3 td {
height: auto;


}

.row3 img {
    height:47px;
    width:47px;
    
    
}